@page "/clientreg"

@implements IDisposable


<h3>Client Registration</h3>
<EditForm Model="@client" OnValidSubmit="@ValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="firstName"
               class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-9">
            <InputText id="firstName"
                       class="form-control"
                       @bind-Value="client.FirstName"
                       DisplayName="First Name" />
        </div>
    </div>

    <div class="form-group row">
        <label for="middleName"
               class="col-sm-3 col-form-label">Middle Name</label>
        <div class="col-sm-9">
            <InputText id="middleName"
                       class="form-control"
                       @bind-Value="client.MiddleName"
                       DisplayName="Middle Name" />
        </div>
    </div>

    <div class="form-group row">
        <label for="lastName"
               class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-9">
            <InputText id="lastName"
                       class="form-control"
                       @bind-Value="client.LastName"
                       DisplayName="Last Name" />
        </div>
    </div>

    <div class="form-group row">
        <label for="phoneNumber"
               class="col-sm-3 col-form-label">Contact Number</label>
        <div class="col-sm-9">
            <InputText id="phoneNumber"
                       class="form-control"
                       @bind-Value="client.PhoneNumber"
                       DisplayName="Contact " />
        </div>
    </div>

    <div class="form-group row">
        <label for="emailAddress"
               class="col-sm-3 col-form-label">Email Address</label>
        <div class="col-sm-9">
            <InputText id="emailAddress"
                       class="form-control"
                       @bind-Value="client.EmailAddress"
                       DisplayName="Email Address" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</EditForm>

@code {
    private EditContext editContext;
    private Client client = new();
    private ValidationMessageStore messageStore;

    protected override void OnInitialized()
    {
        editContext = new(client);
        editContext.OnValidationRequested += HandleValidationRequest;
        messageStore = new(editContext);
    }

    private void ValidSubmit()
    {

    }

    private void HandleValidationRequest(object sender, ValidationRequestedEventArgs args)
    {
        messageStore.Clear();
    }

    public void Dispose()
    {
        editContext.OnValidationRequested -= HandleValidationRequest;
    }
}
